@using Ankh_Morpork_webapp_MVC.Data
@using Ankh_Morpork_webapp_MVC.Models
@model Ankh_Morpork_webapp_MVC.Models.Beggar
@{
    ViewBag.Title = "BeggarsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-8 align-items-md-center">
            <img src="~/Content/Images/Beggars/@(Model.ImageUrl)" class="img-thumbnail align-items-md-center" />
        </div>
        <div class="col-4">
            @Html.Partial("_InfoView", new ViewDataDictionary(ViewData) { { "Money", MoneyFormatter.FormatMoney(Player.GetPlayer().AmountOfMoney) }, { "Beers", Player.GetPlayer().AmountOfBeers } })
            @if (Model.Fee != 0)
                {
                    <p class="bg-dark text-white fs-2">
                        Pay fee - @MoneyFormatter.FormatMoney(@Model.Fee) or I'll chase you to death
                    </p>
                }
            else
            {
                <p>Why lie? I need a beer!</p>
            }

            @Html.ActionLink("Skip", "Skip", "Beggars", new { @class = "btn btn-secondary btn-lg" })
            @Html.ActionLink("Play", "Play", "Beggars", new{id = Model.Id},new { @class = "btn btn-secondary btn-lg" })
        </div>
    </div>
</div>